---
layout: default
title: redbee
---
        <section class="featurette">
            <div class="container">
                <article class="row">
                    <div class="col-sm-4">
                        <h2>Valores</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="col-sm-4">
                        <h2>Objetivos</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="col-sm-4">
                        <h2>Visi&oacute;n</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    </div>
                </article>
            </div>
        </section>

        <section id="nosotros" class="featurette">
            <div class="container">
                <header>
                    <h1>Nosotros</h1>
                    <h2>Lorem ipsum</h2>
                </header>

                <section class="content row">
{% for person in site.pages %}{% if person.category == 'nosotros' %}
    {{}}{% include person.html name=person.name linkedin=person.linkedin twitter=person.twitter email=person.email job=person.job description=person.description image=person.image %}
{% endif %}{% endfor %}
                </section>
            </div>
        </section>
