        <footer class="main-footer">

            <address class="container">
                <div class="pull-right">
                    <a href="http://www.linkedin.com/in/{{include.linkedin}}">
                        <i class="icon-linkedin"></i>
                    </a>
                    <a href="http://twitter.com/{{include.twitter}}">
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="http://facebook.com/{{include.facebook}}">
                        <i class="icon-facebook"></i>
                    </a>
                </div>
                <div>
                    <span>Red.bee</span> | 2013
                    <span>E-mail:</span><a href="mailto:soluciones@redb.ee">soluciones@redb.ee</a>
                </div>
            </address>

        </footer>
